*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	
}

@media(min-width:320px){
	.title>h1::after{
		 left:28%;
     bottom:1px;
	}
	
	.title>h1::before{
	left:44%;
     bottom:0px;
     }
}
@media(min-width:620px){
	.title>h1::after{
		 left:41%;
     bottom:1px;
	}
	
	.title>h1::before{
	left:47%;
     bottom:0px;
     }
	
}
@media(min-width:1000px){
	.title>h1::after{
		 left:44%;
     bottom:1px;
	}
	
	.title>h1::before{
	left:48%;
     bottom:0px;
     }
	
}
.title>h1{
	position:relative;
}
.title>h1::after{
    position:absolute;
    content:"";
     width:150px;
     height:1px;
     background-color:#aaaaaa;
     
     display:block;	 
}
.title>h1::before{
    position:absolute;
    content:"";
     width:44px;
     height:3px;
     background-color:blue;
     display:block;	 
}




ul>li{
	list-style-type:none;
}